{% extends 'base.html.twig' %}

{% block body %}
    <label style="color: white; padding: 8px; background-color: #2196F3; left:0px; right:0px; text-align: center; display:block; font-size: 24px;"> Ajouter un Lit </label>
    <div style="left:0px; right:0px; display:block;  text-align: center;">
        {{ form(form) }}
    </div>
{% endblock %}