
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Confirmation{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <form method="post">
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">
                                        <h2 class="fw-bold mb-2 text-uppercase">Attention !!!</h2>
                                        <p class="text-white-50 mb-5">Une fois le compte supprimé, 
                                        il n'est plus possible de récupérer votre compte.</p>

                                        <a href="{{ path('app_supprimercompte') }}">Supprimer mon compte</a>
                                        <a> / </a>
                                        <a href="{{ path('patient_menu') }}">Annuler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </body>