*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none
}

.table-info {
	margin: 0 auto;
	margin-top: 25px;
	border-collapse: collapse;
	font-size: 1em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .15)
}

.table-info thead tr {
	background-color: #2c2c54
}

.table-info td,
.table-info th {
	padding: 12px 15px;
	text-align: center;
	font-size: 16px
}

.table-info tbody tr {
	border-bottom: none
}

.table-info tbody tr:last-of-type {
	border-bottom: 2px solid #009879
}

/* Responsive */
@media (max-width:500px) {

	.table-info {
		margin: 5px;
	}

	.table-info thead {
		display: none;
	}

	.table-info,
	.table-info tbody,
	.table-info td,
	.table-info tr {
		display: block;
	}

	.table-info td {
		padding-left: 50%;
		text-align: center;
		position: relative
	}

	.table-info td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-size: 15px;
		font-weight: 700;
		text-align: left
	}

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%
	}

	td:before {
		position: absolute;
		left: 6px;
		white-space: nowrap;
		font-weight: bold;
		word-wrap: break-word
	}
}