.table-info {
	margin: 0 auto;
	margin-top: 25px;
	border-collapse: collapse;
	font-size: 1em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .15)
}

.table-info thead tr {
	background-color: #2c2c54;
	color: #FFF;
}

.table-info td,
.table-info th {
	padding: 12px 15px;
	text-align: center;
	font-size: 16px
}

.table-info,
.table-info>th,
.table-info>td {
	background-color: #6cc3d5;
	color: #FFF;
}

.table-info tbody tr {
	border-bottom: none
}

.table-info tbody tr:last-of-type {
	border-bottom: 2px solid #009879
}

/* Responsive */
@media (max-width:500px) {

	.table-info {
		margin: 5px;
	}

	.table-info thead {
		display: none;
	}

	.table-info,
	.table-info tbody,
	.table-info td,
	.table-info tr {
		display: block;
	}

	.table-info td {
		padding-left: 50%;
		text-align: center;
		position: relative
	}

	.table-info td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-size: 15px;
		font-weight: 700;
		text-align: left
	}

	td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%
	}

	td:before {
		position: absolute;
		left: 6px;
		white-space: nowrap;
		font-weight: bold;
		word-wrap: break-word
	}
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.pagination button {
	width: 30px;
	height: 30px;
}

.boutonSupprimer{
	background-color: white;
	color: black;
	transition-duration: 0.4s;
	border: 2px solid #f44336;
	border-radius: 8px;
}

.boutonSupprimer:hover {
	background-color: #f44336; /* Green */
	color: white;
}

.boutonModifier:hover {
	background-color: #4CAF50; /* Green */
	color: white;
}

.boutonModifier{
	background-color: white;
	color: black;
	transition-duration: 0.4s;
	border: 2px solid #4CAF50;
	border-radius: 8px;
}

.boutonAjouter{
	background-color: #4CAF50;
	color: white;
	transition-duration: 0.4s;
	border: 2px solid #4CAF50;
	border-radius: 8px;
	text-align: center;
}

.boutonAjouter:hover span {
	display: none
}
.boutonAjouter:hover:before{
	content: "Ajouter";
}

a{
	list-style-type: none;  
	display: inline;
}