{% extends 'base.html.twig' %}

{% block title %}Hello HoraireController!{% endblock %}

{% block body %}
    <button>debut du service</button>
    <button disabled>fin du service</button>

{% endblock %}
