{% extends 'base.html.twig' %}

{% block title %}Hello DossierPatientController!{% endblock %}

{% block body %}
    <body>
    <link rel="stylesheet" href="/CSS/formDossierPatient.css">
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    <div class="form">
            {{ form_start(form) }}
            {{ form_errors(form) }}


            {{ form_rest(form) }}
            {{ form_end(form) }}
    </div>
{% endblock %}