<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/CSS/style.css">
        <title>
            {% block title %}
                Accueil
            {% endblock %}
        </title>
    </head>
    <p>
        Hospital
    </p>
        <br><br>
        {% block menu %} 
            <a href={{path('patient_menu')}}>Accueil</a>
            <a href={{path('patient_venue')}}>Indiquer votre venue</a>
        {% endblock %}
    
    <body>
        {% block body %}
        {% endblock %}
        <br /><br />
        {% block contenue %}
            
        {% endblock %}
    </body>
</html>
