<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block titre %}
			<title>Hopital</title>
		{% endblock %}

		<link rel="stylesheet" href="/CSS/styleTable.css">
	</head>

	<body>
		{% block body %}
			{% block titrePqge %}
				<h1>Mon super site</h1>
			{% endblock %}

			{% block contenu %}
				<p>Contenu de la page</p>
			{% endblock %}

		{% endblock %}
	</body>
</html>
