<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
    </head>
    <body>
        <br><br>
        {% block menu %} 
            <li><a href={{path('patient_menu')}}>Accueil</a></li>
            <li><a href={{path('patient_venue')}}>Indiquer votre venue</a></li>
        {% endblock %}
        {% block body %}
        {% endblock %}
        <br /><br />
        {% block contenue %}
            
        {% endblock %}
    </body>
</html>
